<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>Welcome 2 Combina</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>


    <link rel="stylesheet" type="text/css" href="{% static 'css/section/welcome/First.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/section/welcome/Second.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/element/welcome/Button.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/element/account.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style/Noselect.css' %}" />
    <script src="{% static 'js/func/welcome/control.js' %}"></script>
    <script src="{% static 'js/func/goto.js' %}"></script>
    <style>
        iframe {display: none;}
        body {margin: 0;padding: 0;background-color: #EBEBEB;}
    </style>
</head>

<body>
    <iframe src="/discord/get-content/?num_messages=20"></iframe>
    {% if connection %}<div id="First" style="display: none">{% else %}<div id="First" style="display:flex;">{% endif %}
        <div class="header">
            <img src="{% static 'img/combinalogo.svg' %}" />
        </div>
    </div>
    {% if connection %}<div id="Second">{% else %}<div id="Second" style="display: none;">{% endif %}
        <p class="noselect prev" onclick="js:control('back')">Back</p>
        <div class="noselect header"><h2>Connect Account</h2></div>
        {% for account in accounts %}
        {% with platformDisconnect='/'|add:account.platform|add:'/disconnect' %}
        {% with platformConnect='/'|add:account.platform|add:'/connect' %}
        {% with platformIcon='img/icon/platform/'|add:account.platform|add:'.svg' %}
        {% if account.connected %}
        <div class="account" onclick="js:goto('{{platformDisconnect}}')">
            {% else %}
            <div class="account" onclick="js:goto('{{platformConnect}}')">
                {% endif %}
                <img class="icon" src="{% static platformIcon %}" />
                {% if account.connected %}
                {{account.platform}} - {{account.userId}}
                {% else %}
                {{account.platform}}
                {% endif %}
            </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </div>
    </div>
    <input id="Btn" type="button" onclick="js:control('next')" value="Get started..." />
</body>

</html>