<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <title>Welcome 2 Combina</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/section/Welcome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style/Noselect.css' %}" />
    <style>
        iframe {display: none;}
        body {margin: 0;padding: 0;background-color: #EBEBEB;}
    </style>
    <script>
        function next() {
            document.getElementById('First').style.display = 'none';
            document.getElementById('Second').style.display = 'flex';
        }
        function prev() {
            document.getElementById('First').style.display = 'block';
            document.getElementById('Second').style.display = 'none';
        }
    </script>
</head>

<body>
    <iframe src="/discord/fetch-discord-messages/"></iframe>
    <script>
        document.addEventListener("keydown", (e) => {
            const first = document.getElementById('First');
            if (first.style.display == "block") {
                next();
            }
        });
    </script>
    <div id="First">
        <div class="header">
            <img src="{% static 'img/combinalogo.svg' %}" />
        </div>
        <div class="body">
            <input type="button" onclick="js:next()" value="Get started..." />
        </div>
    </div>
    <div id="Second" style="display: none;">
        <p class="noselect prev" onclick="js:prev()">Back</p>
        <div class="noselect header">
            <h2>Connect Account</h2>
        </div>
        {% for account in accounts %}
        {% if account.connected %}
        <div class="account">
            <img src="{{account.icon}}" />
            <p>{{account.platform}} - {{account.name}}</p>
            <input type="image" src="{% static 'img/icon/disconnect.svg' %}" />
        </div>
        {% else %}
        <div class="account">
            <img src="{% static 'img/platform/{{account.platform}}.svg' %}" />
            <p>{{account.platform}}</p>
            <input type="image" src="{% static 'img/icon/connect.svg' %}" />
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        document.onload(() => {
            // 요청 보내기
            fetch('/test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // CSRF 토큰 추가
                },
                body: JSON.stringify({
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // JSON 형식의 응답이라 가정
                })
                .then(data => {
                    // 서버 응답에 대한 처리
                    console.log(data);
                })
                .catch(error => {
                    // 오류 처리
                    console.error('There was a problem with the fetch operation:', error);
                });
        });
    </script>
    -->

    <!--
    <div class="container">
        <div id="First">

        </div>
        <div class="left"></div>
        <img src="{% static 'img/logo-full.png' %}" />
        <input type="button" onclick="js:goto('/home/')" value="Start..." />
    </div>
    -->
</body>

</html>