<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>Combina : Search</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- StyleSheet Link -->
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Body.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Menubar.css' %}" />
    <!-- Script Link -->

    <script src="{% static 'js/Header.js' %}"></script>
    <script src="{% static 'js/Menubar.js' %}"></script>
</head>

<body>
    <footer id = "Menubar">
        <div class="noselect" onclick="js:goto('/home/')">
            <img src="{% static 'img/icon/home.svg' %}" />
            <h3>Home</h3>
        </div>
        <div class="noselect" onclick="js:goto('/post/')" style="background-color: #C0C0C0">
            <img src="{% static 'img/icon/create.svg' %}" />
            <h3>Create</h3>
        </div>
        <div class="noselect" onclick="js:goto('/menu/')">
            <img src="{% static 'img/icon/account.svg' %}" />
            <h3>Account</h3>
        </div>
    </footer>
    <header id="Header" class="header" style="background: #FFFFFF;">
        <form class="left search noselect" method="post" action="/home/">
            <img id="Logo_White" class="noselect" src="{% static 'img/logo-white.svg' %}" style="display: none" />
            <img id="Logo_Black" class="noselect" src="{% static 'img/logo-black.svg' %}" style="display:block;"/>
            {% csrf_token %}
            <input type="text" id="Search" placeholder="Search..." />
        </form>
        <div class="right filter noselect">
            <input disabled type="button" onclick="js:filter(this, 'All')" value="All" />
            {% for platform in platforms %}
            <input type="button" onclick="js:filter(this, '{{platform}}')" value="{{platform}}" />
            {% endfor %}
        </div>
    </header>
</body>

</html>