.content {

    width: 31rem;
    margin-left: 1rem;

    border-bottom: 1px solid #e9e9e9;
    justify-self: center;
    background-color: white;
    color: #000000;

    &:hover {
        background-color: #f9f9f9; /* Replace #yourColor with the color you want */
    }

    &:active {
        background-color: #e9e9e9; /* Replace #yourColor with the color you want */
    }

    .header {
        padding: 0px;
        display: flex;
        justify-content: start;
        width: 100%;
        .icon {
            width: 4em;
            height: 4em;
            align-self: right;
            margin-top: 0.5em;
            margin-right: 1em;
            clear: right;
        }

        .info {
            margin: 0px;
            padding: 0px;

            p:nth-child(1) {
                font-size: 1em;
                margin: 0px;
                margin-top: 0.3em;
                margin-bottom: 0.2em;
                padding: 0px;
            }

            p:nth-child(2) {
                font-size: 0.8em;
                margin: 0px;
                padding: 0px;
            }
        }
    }

    .body {

        font-size: 0.9em;

        img {
            width: 100%;
        }
    }
    /*
    .footer {
        display: flex;
        align-items: center;
        padding: 1em;
        .button {
            width: 95%;

            input {
                margin: 0px;
                padding: 0px;
                margin-right: 7%;
                width: 4em;
                height: 4em;
                float: left;
            }
        }

        .menu {
            margin: 0px;
            padding: 0px;
            width: 4em;
            right: 0.3em;
            height: 4em;
            float: right;
        }

        input:disabled {
            display: none;
        }
    }
        */
}