<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <title>Combina : {{page}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- StyleSheet Link -->
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/Platform.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/all/Header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Body.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}" />
    
    <!-- Javascript Link -->
</head>
<body>
    <header id="Header">
        <form class="left search noselect" method="POST" action="/home/">
            <img id="Logo_Black" class="noselect" src="{% static 'img/logo-black.svg' %}" />
            {% csrf_token %}
            <input type="text" id="Search" placeholder="Search..." />
        </form>
        <div id="Menu">
            <input disabled type="image" src="{% static 'img/icon/home.svg' %}" onclick="js:goto('/home/')" />
            <input disabled type="image" src="{% static 'img/icon/home.svg' %}" onclick="js:goto('/home/')" />
            <input disabled type="image" src="{% static 'img/icon/home.svg' %}" onclick="js:goto('/home/')" />
            <input disabled type="image" src="{% static 'img/icon/home.svg' %}" onclick="js:goto('/home/')" />
        </div>
        <div id="Platform" class="noselect">
            <div class="target"></div>
            <input disabled type="button" onclick="js:filter(this, 'All')" value="All" />
            {% for platform in platforms %}
            <input type="button" onclick="js:filter(this, '{{platform}}')" value="{{platform}}" />
            {% endfor %}
        </div>
    </header>
</body>
</html>