#Home {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
    scrollbar-width: none;
    .element {
        margin: 1em;
        box-shadow: 5px 5px 5px 1px gray;
        width: 95%;
        padding: 0px;
        padding-left: 0.2em;
        .header {
            display: flex;
            justify-content: start;
            width: 100%;
            background-color: white;
            .icon {
                width: 4em;
                height: 4em;
                align-self: right;
                margin-top: 0.5em;
                margin-right: 1em;
                margin-left: 0.3em;
                clear: right;
            }
            .info {
                margin: 0px;
                padding: 0px;
                p:nth-child(1) {
                    font-size: 1.7em;
                    margin: 0px;
                    margin-top: 0.3em;
                    margin-bottom: 0.2em;
                    padding: 0px;
                }
                p:nth-child(2) {
                    font-size: 1em;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
        .body {
            img {
                width: 100%;
            }
        }
        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            background-color: #f0f0f0;
        }
    }
}