@media (prefers-color-scheme: dark) {
    p {
        color: #FFFFFF;
    }
    body {
        background-color: #000000;
        color: #FFFFFF;
    }
}
@media (prefers-color-scheme: light) {
    p {
        color: #000000;
    }
    body {
        background-color: #75FBBA;
        color: #000000;
    }
}
body {
    margin: 0px;
    padding: 0px;
    p:nth-child(1) {
        margin:0px;
        margin-top:0.5em;
        font-size:2em;
    }
    p:nth-child(2) {
        margin:0px;
        font-size:1em;
    }
    .container-area {
        margin:0px;
        padding:0px;
        margin-top:2.2em;
        p:nth-child(1) {
            margin:0px;
            font-size:1.5em;
            margin-bottom:0.5em;
        }
        .container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            height: 16em;
            scrollbar-width: none;
            .element {
                flex: 0 0 auto;
                border-radius: 7px;
                /* 1 : 1.2*/
                height: 12em;
                width: 9em;
                margin-right: 1em;
                background-color: #FFFFFF;
                box-shadow: 0px 10px 10px 0px rgb(23,23,23);
            }
        }
    }
    .close {
        margin:0px;
        margin-top: 1em;
    }
    .footer {
        bottom: 7em;
        position: fixed;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        p {
            font-size: 1.5em;
            justify-self: center;
        }
    }
}