.info {
    background-color: #FF00FF;

}
.info .user_data img {
    width: 4em;
    height: 4em;
    align-self: right;
    margin-right: 1em;
    clear: right;

}
.info .user_data {
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    justify-content: start;
    padding: 1em;
    margin: 0.4em;
    background-color: #f0f0f0;
}