#Menu {
    .account {
        width: 100%;
        height: 15em;
        border: 2px solid red;
        flex-wrap: nowrap;
        overflow-y: scroll;
        align-items: center;
        justify-content: center;
        margin:0px;
        padding: 0px;
        float: left;
        .element {
            border: 1px solid black;
            width: 90%;
            margin-top: 0.5em;
            margin-left: 5%;
            height: 4em;
            img {
                width: 4em;
                height: 4em;
                border-radius: 50%;
                margin-right: 10px;
                float: left;

            }

            p {
                font-size: 1.5em;
                margin: 0;
                justify-self: start;
                float: left;

            }

            input {
                width: 4em;
                height: 4em;
            }
        }
    }
    .add {
        img {
            width: 4em;
            height: 4em;
        }
    }
}