#menu {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    z-index: 1000;
    justify-content: space-between;
    .button {
        background-color: #FFFFFF;
        color: black;
        border: none;
        margin: 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
    .button:hover {
        background-color: #00a0f1;
    }
    .button:disabled {
        background-color: #0000FF;
    }
}