#Footer {
    margin: 0px;
    padding: 0px;

    padding-top: 1em;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 6em;
    align-content: space-between;
    input {
        margin: 0px;
        padding: 0px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 10%;
        height: auto;
    }
}