<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var page = "{{ page }}";
        console.log("Page:", page);
        var connection = "{{ connection }}";
        console.log("Connection:", connection);
        
        $(document).ready(function() {
            $('#backButton').click(function() {
                var postData={
                    'page':page
                };

                console.log("Sending POST request with data:", postData);
              
                $.post('/Everytime/redirect_page/', postData)
                    .done(function(data) {
                        if (data.redirect_url) {
                            console.log("Redirecting to:", data.redirect_url);
                            if (data.connection) {
                                console.log("User is logged in. Connection is True.");
                            } else {
                                console.log("User is not logged in. Connection is False.");
                            }
                            window.location.href = data.redirect_url;
                        } else {
                            console.error('No redirect URL found.');
                        }
                    })
                    .fail(function(xhr) {
                        console.error('Error:', xhr.responseText);
                    });
            });
        });
    </script>
</head>
<body>
    <h1>Login</h1>
    <form id="login-form" action="{% url 'login_info' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Login in Everytime</button>
    </form>
    <h1>Logout</h1>
    <form id="login-form" action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <button id="backButton">Back</button>
</body>
</html>
