.area {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    align-content: center;
    .text_input {
        margin: 0px;
        padding: 0px;
        width: 90%;
        margin-left: 5%;
        height: 3em;
        border: 1px solid #ccc;
        align-self: center;
        outline: none;
    }
    .text_input:foucs {
        border: none;
    }
}