@media (prefers-color-sheme: dark) {
    #Footer {
        background-color: #000000;
        color: #FFFFFF;
        input {filter: invert(100%);}
    }
}
@media (prefers-color-sheme: light) {
    #Footer {
        background-color: #FFFFFF;
        color: #000000;
        input {filter: invert(0%);}
    }
}

#Footer {
    margin:0px;
    padding:0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height:5em;
    justify-content: space-between;
    input {
        margin-right: 2em;
        width: 3em;
        height:3em;
        filter: invert(100%);
    }
}