#DetailName {
    margin-left: 2rem;
}
#DetailPlatform {
    margin-left: 2rem;
}
#DetailContent {
    margin-left: 2rem;
}
#DetailVideo {
    margin-left: 2rem;
}
#DetailImage {
    margin-left: 2rem;
}
#DetailImages {
    margin-left: 2rem;
}