:root {
    --background-color: #e9e9e9;
    --text-color: #202020;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color: white;
    }
}

body {
    overscroll-behavior: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 10vh;
    padding-top: 6rem;
    display: flex;
    font-family: 'Noto Sans';
    background: var(--background-color);
    color: var(--text-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;
    iframe {
        display: none;
    }
}

/* Hide scrollbar for webkit browsers */
body::-webkit-scrollbar {
    display: none;
}