body {
    overscroll-behavior: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 10vh;
    padding-top: 6rem;
    display: flex;
    font-family: 'Noto Sans';
    background: #E9E9E9;
    color: #202020;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;
    iframe {
        display: none;
    }
}

/* Hide scrollbar for webkit browsers */
body::-webkit-scrollbar {
    display: none;
}