/* 중앙 부분 메인 화면 컨테이너를 위한 css */
/* 메인 컨테이너 저장공간 */
:root {
    --main-container-background-color: #ffffff;
    --navigation-background-color: #f9f9f9;
    --title-text-color: #000000;
    --navigation-text-color: #000000;
    --border-color: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-container-background-color: #202020;
        --navigation-background-color: #202020;
        --title-text-color: #ffffff;
        --navigation-text-color: #ffffff;
        --border-color: #000000;
    }
}

#Main {
    width: 33rem;
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: auto;
    top: 0rem;
    bottom: 0rem;
    left: calc(14rem + 0.2rem);
    background-color: var(--main-container-background-color);
    color: var(--title-text-color);
    padding-top: 7rem;
    overflow: scroll;
    scrollbar-width: none;
}

/* 메인 컨테이너 타이틀 위치 */
#Title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 33rem;
    display: block;
    margin: 0px;
    padding: 0px;
    top: 0rem;
    left: calc(14rem + 0.2rem);
    height: 3rem;
    position: fixed;
    background-color: var(--main-container-background-color);
    color: var(--title-text-color);
    border-bottom: 0.2rem solid var(--border-color);
    text-align: center; display: flex; justify-content: center; align-items: center;
}

#Navigation {
    position: fixed;
    top: 3rem;
    width: 33rem;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    left: calc(14rem + 0.2rem);
    height: 2.5rem;
    background-color: var(--navigation-background-color);
    color: var(--title-text-color);
    border-bottom: 0.2rem solid var(--border-color);

    input[type=button] {
        align-self: center;
        width: auto;
        background: none;
        border: none;
        font-size: 0.95rem;
        color: var(--title-text-color);
    }
}