#FadeOut {
    background-color: #A9A9A9;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    border-radius: 2rem;
    padding: 1rem;
    animation: fadeOut 1s ease-out 1s forwards;
    position: fixed;
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}