/* 시작화면 : 맨 처음 페이지 전용 css */
:root {
    --first-background-color: white;
    --image-filter: invert(0%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --first-background-color: #202020;
        --image-filter: invert(100%);
    }
}

#First {
    width: 80%;
    top: 10%;
    left: 10%;
    height: 80%;
    position: fixed;
    padding: 0;
    background-color: var(--first-background-color);
    border-radius: 0.5rem;

    .header {
        display: flex;
        filter: var(--invert-filter);
        height: 50%;
        width: 100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;

        img {
            width: 60%;
            height: auto;
            filter: var(--image-filter);
        }
    }
    .body {
        display: flex;
        height: 50%;
        width: 100%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}