{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <h1>Upload User Content</h1>
    <form action="/Reddit/post/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_title">Title:</label>
            <input type="text" id="id_title" name="title">
        </div>
        <div>
            <label for="id_text">Text:</label>
            <textarea id="id_text" name="text"></textarea>
        </div>
        <div>
            <label for="id_image">Image:</label>
            <input type="file" id="id_image" name="File">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    {% for content in contents %}
        {% if content %}
            <h1>{{ content.userID }}</h1>
            <p>{{ content.text }}<p>
            <img src="{{ content.icon }}" alt="Profile Image">
            <!-- {% if user_profile.change_url %}
            <img src="{{ content.image_url }}" alt="post image">
            {% endif %} -->
        {% else %}
            <p>No profile image available</p>
        {% endif %}
    {% endfor %}
</body>
</html>