<!DOCTYPE html>
<html>

<head>

</head>
<body>
    
    <!-- <form class="login-form" action="/Reddit/connectCall/" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <input type="submit" />
    </form> -->
    <h1>Reddit</h1>
    <a href="{{ auth_url }}">Login in Reddit</a>  

    <h2>Back</h2>
    <a href="/start">Back</a>
</body>
</html>