@media (prefers-color-scheme: light) {
    #Footer {
        background-color: #ffffff;

        input {
            filter: invert(0%);
        }
    }
}

@media (prefers-color-scheme: dark) {
    #Footer {
        background-color: #202020;

        input {
            filter: invert(100%);
        }
    }
}

#Footer {
    margin: 0px;
    padding: 0px;

    padding-top: 1em;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 6em;
    align-content: space-between;
    input {
        margin: 0px;
        padding: 0px;
        margin-left: 5%;
        width: 10%;
        height: auto;
    }
}