#Main {
    width: 30rem;
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: auto;
    top: 1rem;
    bottom: 1rem;
    left: calc(7rem);
    background-color: white;
    border-radius: 0.5em;
    padding-top: 7rem;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    scrollbar-width: none;
}