#Menubar {
    display: box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 18%;
    height: 100%;
    background-color: white;
    .title {
        margin-bottom: 4rem;
        width: 100%;
        height: 3rem;
        img {
            margin-left: 1rem;
            margin-top: 1rem;
            width: 10rem;
            height: 3rem;
        }
    }
    .element {
        width: 90%;
        height: 3rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
        vertical-align: middle;
        label {
            vertical-align: middle;
        }
        img {
            width: 2rem;
            height: 2rem;
        }
        
    }
}