#Menubar {
    display: box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 5.5rem;
    height: 100%;
    background-color: #e9e9e9;
    .title {
        margin-bottom: 4rem;
        width: 100%;
        height: 3rem;
        img {
            vertical-align: middle;
            margin-left: 1.25rem;
            margin-right: 1.25rem;
            margin-top: 1.25rem;
            width: 3rem;
            height: 3rem;
        }
    }
    .element {
        width: 90%;
        height: 3rem;
        margin-bottom: 1rem;
        vertical-align: middle;
        label {
            vertical-align: middle;
        }
        img {
            vertical-align: middle;
            margin-left: 1.8rem;
            margin-right: 1.8rem;
            width: 1.9rem;
            height: 1.9rem;
        }
        
    }
}