#Navigation {
    position: fixed;
    top: 4rem;
    width: 30rem;
    display: block;
    margin: 0px;
    padding:0px;
    justify-content: space-between;
    align-items: center;
    left: calc(14rem + 1rem);
    height: 3rem;
    border-bottom: 0px solid #EBEBEB;
    input[type=button] {
        align-self: center;
        width: auto;
        background: none;
        border: none;
    }
}