#Navigation {
    position: fixed;
    top: 3rem;
    width: 33rem;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    left: calc(14rem + 0.2rem);
    height: 2.5rem;
    border-bottom: 0px solid #EBEBEB;
    input[type=button] {
        align-self: center;
        width: auto;
        background: none;
        border: none;
        font-size: 0.95rem;
    }
}