#Subtitle {
    position: fixed;
    width: calc(100% - 53% - 3rem);
    height: 3rem;
    top: 1rem;
    right: 1rem;
    border-bottom: 0px solid #EBEBEB;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    input[type=image] {
        
        width: 3rem;
        height: 3rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
}