<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>Combina : Chat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- StyleSheet Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
    <!-- Script Link -->
    <script src="{% static 'js/static.js' %}"></script>
</head>

<body>
    <header id="Header">
        <div class="upper">
            <h1>Chat</h1>
        </div>
    </header>
    {% for chat in chats %}
    <div class="chat">
        <img src="{% static 'img/icon/create.svg' %}" />
        <p>{{chat.target}}<br />{{chat.topMessage}}</p>
        {% if chat.unread > 0 %}
        <img src="{% static 'img/icon/unread.svg' %}" />
        {% endif %}
        <p>{{chat.time}}</p>
    </div>
    {% endfor %}
    <footer id="Footer" class="noselect">
        <input type="image" onclick="js:goto('/home')" src="{% static 'img/icon/home.svg' %} " />
        <input type="image" onclick="js:goto('/find')" src="{% static 'img/icon/search.svg' %} " />
        <input type="image" onclick="js:goto('/post')" src="{% static 'img/icon/create.svg' %} " />
        <input type="image" onclick="js:goto('/chat')" src="{% static 'img/icon/chat.svg' %} " />
        <input type="image" onclick="js:goto('/menu')" src="{% static 'img/icon/account.svg' %} " />
    </footer>
</body>

</html>