<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <title>Combina : Search</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- StyleSheet Link -->
    <link rel="stylesheet" type="text/css" href="Style/Header.css" />
    <link rel="stylesheet" type="text/css" href="Style/Footer.css" />
    <link rel="stylesheet" type="text/css" href="Style/body.css" />
    <link rel="stylesheet" type="text/css" href="Style/content.css" />
    <!-- Script Link -->
    <script src="Script/static.js"></script>
    <script src="Script/Find.js"></script>
</head>

<body>
    <header id="Header">
        <form id="form">
            <img src="Icon/search.svg"/>
            <input name="searchName" class="search" id="Search" type="text"/>
        </form>
        <div id="Platform" class="lower">
            <input type="button" value="All" onclick="js:find('All')" />
            {% for account in accounts %}
            {% if account.connected == 1 %}
            <input type="button" value="{{account.platform}}" onclick="js:find('{{account.platform}}')" />
            {% endif %}
            {% endfor %}
        </div>
    </header>
    {% for content in contents %}
    <div class="content {{content.platform}}">
        <div class="header">
            <img class="icon" src="{{content.icon}}" />
            <span class="info">
                <p>{{content.account}}</p>
                <p>{{content.where}}, {{content.when}}</p>
            </span>
        </div>
        <div class="body">
            <img src="{{content.image}}" />
        </div>
        <div class="footer">
            <div class="button">
                <input type="image" onclick="" src="Icon/account.svg" />
                <input type="image" onclick="" src="Icon/account.svg" />
                <input type="image" onclick="" src="Icon/account.svg" />
                <input disabled type="image" onclick="" src="Icon/account.svg" />
                <input disabled type="image" onclick="" src="Icon/account.svg" />
            </div>
            <input class="menu" type="image" onclick="" src="Icon/home.svg" />
        </div>
    </div>
    {% endfor %}
    <footer id="Footer">
        <input type="image" onclick="js:goto('home.html')" src="{% static 'img/icon/home.svg' %}"/>
        <input type="image" onclick="js:goto('find.html')" src="{% static 'img/icon/search.svg' %}"/>
        <input type="image" onclick="js:goto('post.html')" src="{% static 'img/icon/create.svg' %}"/>
        <input type="image" onclick="js:goto('chat.html')" src="{% static 'img/icon/chat.svg' %}"/>
        <input type="image" onclick="js:goto('menu.html')" src="{% static 'img/icon/account.svg' %}"/>
    </footer>
</body>
</html>