<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>Combina : Search</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- StyleSheet Link -->
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Body.css' %}" />
    <!-- Script Link -->
    <script src="{% static 'js/Header.js' %}"></script>
</head>

<body>
    <header id="Header" class="header" style="background: #FFFFFF;">
        <form class="search noselect" method="post" action="/search">
            {% csrf_token %}
            <img class="noselect" src="{% static 'img/logo.svg' %}" />
            <input type="text" id="Search" placeholder="Search..." />
        </form>
        <div class="filter noselect">
            <input disabled type="button" onclick="js:filter(this, 'All')" value="All" />
            {% for account in accounts %}
            <input type="button" onclick="js:filter(this, '{{account.platform}}')" value="{{account.platform}}" />
            {% endfor %}
        </div>
    </header>
    <div>
    </div>
    <div>
        {% for content in contents %}

        {% endfor %}
    </div>
</body>

</html>