<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>InChat</title>
    <!-- StyleSheet Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css'}" />

    <!-- Script Link -->
    <script src="{% static 'js/static.js' %}"></script>
</head>

<body>
    <header id = "Header">
        <div class = "upper">
            <h1>{{name}} : {{platform}}</h1>
        </div>
    </header>
    {% for chat in chats.db %}
    <div class="chat">
        <div class="upper">
            <h1>{{chat.platform}}</h1>
        </div>
        <div class="lower">
            <div class="message">
                <h2>{{chat.message}}</h2>
            </div>
            <div class="time">
                <h3>{{chat.time}}</h3>
            </div>
        </div>
    {% endfor %}
</body>

</html>