<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>InChat</title>
    <link rel="stylesheet" type="text/css" href="Style/static.css"/>
    <link rel="stylesheet" href="InChat.css">
    <script src="InChat.js"></script>
</head>

<body>
    
    {% for chat in chats %}
    <div class="chat">
        <div class="upper">
            <h1>{{chat.platform}}</h1>
        </div>
        <div class="lower">
            <div class="message">
                <h2>{{chat.message}}</h2>
            </div>
            <div class="time">
                <h3>{{chat.time}}</h3>
            </div>
        </div>
    {% endfor %}
</body>

</html>