<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Combina : Search</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- StyleSheet Link -->
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}" />
    <!-- Script Link -->
</head>
<body>
    
</body>
</html>