<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>Combina : Menu</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- StyleSheet Link -->
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}" />

    <!-- Script Link -->
    <script src="{% static 'js/static.js' %}"></script>
    <script src="{% static 'js/Menu.js' %}"></script>
</head>

<body>
    <header id="Header">
        <div class="upper">
            <h1>Account</h1>
        </div>
    </header>
    {% for account in accounts %}
    {% if account.connected == 1 %}
    <div class="account" onclick="js:disconnect({{account}})">
        <img class="platform" src="{% static 'img/platform/{{account.platform}}.svg' %}" />
        <span>
            <p>{{account.platform}}</p>
            <p>{{account.name}} @ {{account.tag}}</p>
        </span>
    </div>
    {% else %}
    <div class="account" onclick="js:connect('{{account.platform}}')">
        <img class="platform" src="{% static 'img/icon/Platform/{{account.platform}}.svg' %}" />
        <p>Add Account</p>
    </div>
    {% endif %}
    {% endfor %}
    <footer id="Footer" class="noselect">
        <input type="image" onclick="js:goto('/home')" src="{% static 'img/icon/home.svg' %}" />
        <input type="image" onclick="js:goto('/find')" src="{% static 'img/icon/search.svg' %}" />
        <input type="image" onclick="js:goto('/post')" src="{% static 'img/icon/create.svg' %}" />
        <input type="image" onclick="js:goto('/chat')" src="{% static 'img/icon/chat.svg' %}" />
        <input type="image" onclick="js:goto('/menu')" src="{% static 'img/icon/account.svg' %}" />
    </footer>
    <div id="PopUp" class="noselect" style="display: none">
        <div class="square">
            <div class="inner">
                <div class="top"></div>
                <div class="center">
                    <img class="icon" src="{% static 'img/icon/account.svg' %}">
                    <p class="noselect" id="PopUp_Text">(NAME) - (PLATFORM)</p>
                </div>
                <form class="bottom" action="/server/disconnect" method="post" onclick="js:post(event)">
                    <p class="noselect">Remove account</p>
                    {% csrf_token %}
                    <input type="text" value="n" id="PopUp_Data" name="id" style="display: none">
                </form>
            </div>
        </div>
    </div>
</body>

</html>