<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Search Posts</h1>
    <form method="POST" action="/search/">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search for tweets">
        <button type="submit">Search</button>
    </form>
    <h1>Tweets</h1>
    {% if tweets %}
        <ul>
            {% for tweet in tweets %}
                <li>user name : {{ tweet.tweet_name }}, user id: {{ tweet.tweet_username}}</li>
                <p>text: {{ tweet.tweet_text }}</p>
                <p>date : {{ tweet.tweet_date }}</p>
                <p>image_url : {{tweet.tweet_media_url}}</p>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Welcome to the Homepage</h1>
</body>
</html>
