.Facebook {background-color: #0052FF;}
.Instagram {background: linear-gradient(0.25turn, #FF00A9, #FF8B00);}
.Discord {background-color: #6900FF;}
.Reddit {background-color: #FF4300;}
.Everytime {background-color: #FFFFFF;}
.Youtube {background-color: #F32614;}